{% extends 'base.html' %}

{% block content %}

<h2>You are logged out</h2>
{% comment %} <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log Out</button>
</form>  {% endcomment %}
{% endblock content %}
