{% comment %} {% extends 'base.html' %} {% endcomment %}


{% block content %}
  <h2>Signup</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
  </form>
{% endblock content %}