<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 2 Shot</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li></li<>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                    <a href="{% url 'login' %}"></a>
                  {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        {% block pagination %}
        {% endblock pagination %}
    </footer>
</body>

</html>